<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body class="login">
    <div class="login-container">
      <h1>Log In</h1>
      <form action="/login" method="POST">
        <label for="username">
          Username:
          <input type="text" name="username" />
        </label>
        <br />
        <label for="password">
          Password:
          <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Login" class="search-btn" />
      </form>
    </div>
    <div class="account">
      <a href="/register" class="links">Create Account</a> &nbsp &nbsp
      <a href="" class="links">Forgot Password?</a>
    </div>
  </body>
</html>
